body {
    margin: 0;
    padding: 0;
    background: #3f3f3f; /* Old browsers */
    background: -moz-linear-gradient(top,  #3f3f3f 0%, #191919 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#191919)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3f3f3f 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3f3f3f 0%,#191919 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3f3f3f 0%,#191919 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3f3f3f 0%,#191919 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
}

/* Widget Version One */
#tfrce-rally-widget-top-large-banner { color: #fff; font-family: 'Lucida Grande', 'Arial', sans-serif; position: relative; overflow: hidden; }
#tfrce-rally-widget-top-large-banner img#tfrce-logo { float: left; margin: 15px; width: 122px; height: 68px; }
#tfrce-rally-widget-top-large-banner p#tfrce-body { font-size: 16px; color: #eee; max-width: 550px; margin: 10px auto; text-align: center; padding: 0 20px 0 0; }
#tfrce-rally-widget-top-large-banner span#tfrce-heading { background: url('images/tfrce-widget-heading.png'); display: block; width: 436px; height: 27px; margin: 0 auto; }
#tfrce-rally-widget-top-large-banner div#tfrce-actions { float: right; margin: 0 67px 0 0; }
#tfrce-rally-widget-top-large-banner span#tfrce-call-to-action-label { font-size: 12px; color: #ddd; float: left; margin: 18px 0 5px; }
#tfrce-rally-widget-top-large-banner a#tfrce-call-to-action { display: block; width: 210px; padding: 10px 0; border-radius: 5px; text-align: center; color: #fff; text-decoration: none; float: left; clear: left; margin: 0 0 0 10px; }

/* Widget Version Two */
#tfrce-rally-widget-bottom-large-banner {}
#tfrce-rally-widget-bottom-large-banner img#tfrce-logo {}
#tfrce-rally-widget-bottom-large-banner p#tfrce-body {}
#tfrce-rally-widget-bottom-large-banner span#tfrce-heading {}
#tfrce-rally-widget-bottom-large-banner span#tfrce-call-to-action-label {}
#tfrce-rally-widget-bottom-large-banner a#tfrce-call-to-action {}
#tfrce-rally-widget-bottom-large-banner button#tfrce-close-button {}

/* Widget Version Three */
#tfrce-rally-widget-center-modal {}
#tfrce-rally-widget-center-modal img#tfrce-logo {}
#tfrce-rally-widget-center-modal p#tfrce-body {}
#tfrce-rally-widget-center-modal span#tfrce-heading {}
#tfrce-rally-widget-center-modal span#tfrce-call-to-action-label {}
#tfrce-rally-widget-center-modal a#tfrce-call-to-action {}
#tfrce-rally-widget-center-modal button#tfrce-close-button {}

/* Widget Version Four */
#tfrce-rally-widget-bottom-large-banner.html {}
#tfrce-rally-widget-bottom-large-banner.html img#tfrce-logo {}
#tfrce-rally-widget-bottom-large-banner.html p#tfrce-body {}
#tfrce-rally-widget-bottom-large-banner.html span#tfrce-heading {}
#tfrce-rally-widget-bottom-large-banner.html span#tfrce-call-to-action-label {}
#tfrce-rally-widget-bottom-large-banner.html a#tfrce-call-to-action {}
#tfrce-rally-widget-bottom-large-banner.html button#tfrce-close-button {}

/* Common Styles */
.tfrce-call-to-action-gradient {
    background: #70d549;
    background: -moz-linear-gradient(top, #70d549 0%, #3d9826 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70d549), color-stop(100%,#3d9826));
    background: -webkit-linear-gradient(top, #70d549 0%,#3d9826 100%);
    background: -o-linear-gradient(top, #70d549 0%,#3d9826 100%);
    background: -ms-linear-gradient(top, #70d549 0%,#3d9826 100%);
    background: linear-gradient(to bottom, #70d549 0%,#3d9826 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70d549', endColorstr='#3d9826',GradientType=0 );
}
