body {
    margin: 0;
    padding: 0;
    background: #3f3f3f; /* Old browsers */
    background: -moz-linear-gradient(top, #3f3f3f 0%, #191919 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#191919)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3f3f3f 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3f3f3f 0%,#191919 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3f3f3f 0%,#191919 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3f3f3f 0%,#191919 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
}

/* Widget Version One */
#tfrce-rally-widget-top-large-banner { color: #fff; font-family: 'Lucida Grande', 'Arial', sans-serif; position: relative; overflow: hidden; }
#tfrce-rally-widget-top-large-banner img#tfrce-logo { float: left; margin: 15px 0 0 15px; width: 122px; height: 68px; }
#tfrce-rally-widget-top-large-banner div#tfrce-content { width: 550px; margin: 0 auto; }
#tfrce-rally-widget-top-large-banner p.tfrce-body { font-size: 16px; color: #eee; max-width: 550px; margin: 10px auto; text-align: center; }
#tfrce-rally-widget-top-large-banner span#tfrce-heading { background: url('images/tfrce-widget-heading.png'); display: block; max-width: 436px; height: 27px; margin: 0 auto; }
#tfrce-rally-widget-top-large-banner div#tfrce-actions { float: right; margin: 0 67px 0 0; }
#tfrce-rally-widget-top-large-banner span#tfrce-call-to-action-label { font-size: 12px; color: #ddd; float: left; margin: 18px 0 5px; }
#tfrce-rally-widget-top-large-banner a#tfrce-call-to-action { display: block; width: 210px; padding: 10px 0; border-radius: 5px; text-align: center; color: #fff; text-decoration: none; float: left; clear: left; margin: 0 0 0 10px; }

@media ( max-width: 1200px ) { 
    #tfrce-rally-widget-top-large-banner img#tfrce-logo { width: 91px; height: 51px; margin: 25px 0 0 15px; }
    #tfrce-rally-widget-top-large-banner div#tfrce-content { margin: 0 35% 0 15%; }
    #tfrce-rally-widget-top-large-banner p.tfrce-body { font-size: 14px; }
    #tfrce-rally-widget-top-large-banner span#tfrce-heading { width: 287px; height: 18px; background-size: 287px 18px; }
    #tfrce-rally-widget-top-large-banner a#tfrce-call-to-action { width: 180px; }
}

@media ( max-width: 1000px ) {
    #tfrce-rally-widget-top-large-banner img#tfrce-logo { width: 80px; height: 44px; margin: 30px 0 0 15px; }
    #tfrce-rally-widget-top-large-banner div#tfrce-content { margin: 0 40% 0 10%; }
    #tfrce-rally-widget-top-large-banner p.tfrce-body { font-size: 13px; max-width: 500px; }
    #tfrce-rally-widget-top-large-banner span#tfrce-heading { width: 287px; height: 18px; background-size: 287px 18px; }
    #tfrce-rally-widget-top-large-banner div#tfrce-actions { margin: 0 40px 0 0; }
    #tfrce-rally-widget-top-large-banner span#tfrce-call-to-action-label { font-size: 11px; }
    #tfrce-rally-widget-top-large-banner a#tfrce-call-to-action { width: 160px; }
}

@media ( max-width: 900px ) {
    #tfrce-rally-widget-top-large-banner img#tfrce-logo { width: 80px; height: 44px; }
    #tfrce-rally-widget-top-large-banner div#tfrce-content { margin: 0 45% 0 5%; }
    #tfrce-rally-widget-top-large-banner p.tfrce-body { font-size: 12px; max-width: 400px; }
    #tfrce-rally-widget-top-large-banner span#tfrce-heading { width: 218px; height: 14px; background-size: 218px 14px; }
    #tfrce-rally-widget-top-large-banner div#tfrce-actions { margin: 0 35px 0 0; }
    #tfrce-rally-widget-top-large-banner span#tfrce-call-to-action-label { font-size: 10px; }
    #tfrce-rally-widget-top-large-banner a#tfrce-call-to-action { width: 160px; }
}

/* Widget Version Two */
#tfrce-rally-widget-bottom-large-banner { color: #fff; font-family: 'Lucida Grande', 'Arial', sans-serif; position: relative; overflow: hidden; }
#tfrce-rally-widget-bottom-large-banner img#tfrce-logo { float: left; margin: 15px 0 0 15px; width: 122px; height: 68px; }
#tfrce-rally-widget-bottom-large-banner div#tfrce-content { width: 550px; margin: 0 auto; }
#tfrce-rally-widget-bottom-large-banner p.tfrce-body { font-size: 16px; color: #eee; max-width: 550px; margin: 10px auto; text-align: center; }
#tfrce-rally-widget-bottom-large-banner span#tfrce-heading { background: url('images/tfrce-widget-heading.png'); display: block; max-width: 436px; height: 27px; margin: 0 auto; }
#tfrce-rally-widget-bottom-large-banner div#tfrce-actions { float: right; margin: 0 67px 0 0; }
#tfrce-rally-widget-bottom-large-banner span#tfrce-call-to-action-label { font-size: 12px; color: #ddd; float: left; margin: 18px 0 5px; }
#tfrce-rally-widget-bottom-large-banner a#tfrce-call-to-action { display: block; width: 210px; padding: 10px 0; border-radius: 5px; text-align: center; color: #fff; text-decoration: none; float: left; clear: left; margin: 0 0 0 10px; }

@media ( max-width: 1200px ) { 
    #tfrce-rally-widget-bottom-large-banner img#tfrce-logo { width: 91px; height: 51px; margin: 25px 0 0 15px; }
    #tfrce-rally-widget-bottom-large-banner div#tfrce-content { margin: 0 35% 0 15%; }
    #tfrce-rally-widget-bottom-large-banner p.tfrce-body { font-size: 14px; }
    #tfrce-rally-widget-bottom-large-banner span#tfrce-heading { width: 287px; height: 18px; background-size: 287px 18px; }
    #tfrce-rally-widget-bottom-large-banner div#tfrce-actions { }
    #tfrce-rally-widget-bottom-large-banner span#tfrce-call-to-action-label {  }
    #tfrce-rally-widget-bottom-large-banner a#tfrce-call-to-action { width: 180px; }
}

@media ( max-width: 1000px ) {
    #tfrce-rally-widget-bottom-large-banner img#tfrce-logo { width: 80px; height: 44px; margin: 30px 0 0 15px; }
    #tfrce-rally-widget-bottom-large-banner div#tfrce-content { margin: 0 40% 0 10%; }
    #tfrce-rally-widget-bottom-large-banner p.tfrce-body { font-size: 13px; max-width: 500px; }
    #tfrce-rally-widget-bottom-large-banner span#tfrce-heading { width: 287px; height: 18px; background-size: 287px 18px; }
    #tfrce-rally-widget-bottom-large-banner div#tfrce-actions { margin: 0 40px 0 0; }
    #tfrce-rally-widget-bottom-large-banner span#tfrce-call-to-action-label { font-size: 11px; }
    #tfrce-rally-widget-bottom-large-banner a#tfrce-call-to-action { width: 160px; }
}

@media ( max-width: 900px ) {
    #tfrce-rally-widget-bottom-large-banner img#tfrce-logo { width: 80px; height: 44px; }
    #tfrce-rally-widget-bottom-large-banner div#tfrce-content { margin: 0 45% 0 5%; }
    #tfrce-rally-widget-bottom-large-banner p.tfrce-body { font-size: 12px; max-width: 400px; }
    #tfrce-rally-widget-bottom-large-banner span#tfrce-heading { width: 218px; height: 14px; background-size: 218px 14px;  }
    #tfrce-rally-widget-bottom-large-banner div#tfrce-actions { margin: 0 35px 0 0; }
    #tfrce-rally-widget-bottom-large-banner span#tfrce-call-to-action-label { font-size: 10px; }
    #tfrce-rally-widget-bottom-large-banner a#tfrce-call-to-action { width: 160px; }
}

/* Modal: Widget Version Three */
#tfrce-rally-widget-center-modal { color: #fff; font-family: 'Lucida Grande', 'Arial', sans-serif; position: relative; overflow: hidden; }
#tfrce-rally-widget-center-modal img#tfrce-logo { margin: 30px auto 15px; width: 122px; height: 68px; display: block; }
#tfrce-rally-widget-center-modal div#tfrce-content { width: 436px; margin: 20px auto; }
#tfrce-rally-widget-center-modal p.tfrce-body { font-size: 17px; color: #eee; max-width: 436px; margin: 10px auto; text-align: center; }
#tfrce-rally-widget-center-modal span#tfrce-heading { background: url('images/tfrce-widget-heading.png'); display: block; max-width: 436px; height: 27px; margin: 20px auto 0 auto; }
#tfrce-rally-widget-center-modal div#tfrce-actions {}
#tfrce-rally-widget-center-modal span#tfrce-call-to-action-label { font-size: 12px; color: #ddd; text-align: center; display: block; }
#tfrce-rally-widget-center-modal a#tfrce-call-to-action { display: block; width: 250px; padding: 10px 0; border-radius: 5px; text-align: center; color: #fff; text-decoration: none; margin: 0 auto 5px; }

/* Widget Version Four */
#tfrce-rally-widget-bottom-small-banner { color: #fff; font-family: 'Lucida Grande', 'Arial', sans-serif; position: relative; overflow: hidden; }
#tfrce-rally-widget-bottom-small-banner img#tfrce-logo { float: left; margin: 9px 0 0 9px; width: 61px; height: 34px; }
#tfrce-rally-widget-bottom-small-banner div#tfrce-content { width: 420px; float: left;}
#tfrce-rally-widget-bottom-small-banner p.tfrce-body { font-size: 12px; color: #eee; max-width: 400px; float: left; margin: 10px 0 0 10px;}
#tfrce-rally-widget-bottom-small-banner span#tfrce-heading { background: url('images/tfrce-widget-heading.png'); display: block; max-width: 436px; height: 27px; margin: 0 auto; }
#tfrce-rally-widget-bottom-small-banner div#tfrce-actions { float: right; margin: 0 47px 0 0; }
#tfrce-rally-widget-bottom-small-banner a#tfrce-call-to-action { display: block; width: 200px; padding: 8px 0; border-radius: 5px; text-align: center; color: #fff; text-decoration: none; float: left; clear: left; margin: 7px 0 0; }

@media ( max-width: 1200px ) { 
    #tfrce-rally-widget-bottom-small-banner img#tfrce-logo { width: 91px; height: 51px; margin: 25px 0 0 15px; }
    #tfrce-rally-widget-bottom-small-banner div#tfrce-content { margin: 0 35% 0 15%; }
    #tfrce-rally-widget-bottom-small-banner p.tfrce-body { font-size: 14px; }
    #tfrce-rally-widget-bottom-small-banner span#tfrce-heading { width: 287px; height: 18px; background-size: 287px 18px; }
    #tfrce-rally-widget-bottom-small-banner a#tfrce-call-to-action { width: 180px; }
}

@media ( max-width: 1000px ) {
    #tfrce-rally-widget-bottom-small-banner img#tfrce-logo { width: 80px; height: 44px; margin: 30px 0 0 15px; }
    #tfrce-rally-widget-bottom-small-banner div#tfrce-content { margin: 0 40% 0 10%; }
    #tfrce-rally-widget-bottom-small-banner p.tfrce-body { font-size: 13px; max-width: 500px; }
    #tfrce-rally-widget-bottom-small-banner span#tfrce-heading { width: 287px; height: 18px; background-size: 287px 18px; }
    #tfrce-rally-widget-bottom-small-banner div#tfrce-actions { margin: 0 40px 0 0; }
    #tfrce-rally-widget-bottom-small-banner span#tfrce-call-to-action-label { font-size: 11px; }
    #tfrce-rally-widget-bottom-small-banner a#tfrce-call-to-action { width: 160px; }
}

@media ( max-width: 900px ) {
    #tfrce-rally-widget-bottom-small-banner img#tfrce-logo { width: 80px; height: 44px; }
    #tfrce-rally-widget-bottom-small-banner div#tfrce-content { margin: 0 45% 0 5%; }
    #tfrce-rally-widget-bottom-small-banner p.tfrce-body { font-size: 12px; max-width: 400px; }
    #tfrce-rally-widget-bottom-small-banner span#tfrce-heading { width: 218px; height: 14px; background-size: 218px 14px; }
    #tfrce-rally-widget-bottom-small-banner div#tfrce-actions { margin: 0 35px 0 0; }
    #tfrce-rally-widget-bottom-small-banner span#tfrce-call-to-action-label { font-size: 10px; }
    #tfrce-rally-widget-bottom-small-banner a#tfrce-call-to-action { width: 160px; }
}

/* Common Styles */
.tfrce-call-to-action-gradient {
    border: 1px solid #000;
    box-shadow: #555 0px 1px 1px;
    background: #70d549;
    background: -moz-linear-gradient(top, #70d549 0%, #3d9826 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70d549), color-stop(100%,#3d9826));
    background: -webkit-linear-gradient(top, #70d549 0%,#3d9826 100%);
    background: -o-linear-gradient(top, #70d549 0%,#3d9826 100%);
    background: -ms-linear-gradient(top, #70d549 0%,#3d9826 100%);
    background: linear-gradient(to bottom, #70d549 0%,#3d9826 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70d549', endColorstr='#3d9826',GradientType=0 );
}

.tfrce-call-to-action-gradient:hover {
    border: 1px solid #000;
    box-shadow: #777 0px 1px 1px;
    background: #6de840; /* Old browsers */
    background: -moz-linear-gradient(top, #6de840 0%, #3da327 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6de840), color-stop(100%,#3da327));
    background: -webkit-linear-gradient(top, #6de840 0%,#3da327 100%);
    background: -o-linear-gradient(top, #6de840 0%,#3da327 100%);
    background: -ms-linear-gradient(top, #6de840 0%,#3da327 100%);
    background: linear-gradient(to bottom, #6de840 0%,#3da327 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6de840', endColorstr='#3da327',GradientType=0 );
}
